.header {
    background: #fff;
    padding: 0;
    // text-align: center;
    .logo {
        height: 46px;
        padding-left: 10px;
        img {
            display: inline-block;
            height: 25px;
            vertical-align: middle;
        }
    }
}
