.sider {
    height: 100vh;
}
.logo {
    height: 46px;
    background: rgba(1, 12, 29, 0.836);
    padding: 3px 20px;
    overflow: hidden;
    img {
        display: inline-block;
        height: 40px;
        vertical-align: middle;
    }
    h1 {
        position: relative;
        left: 20%;
        display: inline-block;
        margin: 0 auto;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        vertical-align: middle;
    }
}
.menuItem {
    border-bottom: 1px solid #e6f7ff;
    a {
        margin: 0 auto;
    }
}
